#inventory-window-background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #00000080;
  z-index: 4;
}

#inventory-empty-text {
  width: 100%;
  font-size: x-large;
  text-align: center;
  color: #5b89a0;
}

#inventory-window {
  width: 80%;
  height: 80%;
  position: absolute;
  left: 10%;
  top: 10%;
  background-color: var(--main-color);
  z-index: 5;
}

#inventory-window-head {
  height: 30px;
  width: 100%;
  background-color: var(--main-color);
}

#inventory-window-head-close {
  position: absolute;
  top: 5px;
  right: 0;
  height: 20px;
  width: 30px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  font-family: monospace;
  color: var(--main-color-text);
}
#inventory-window-head-title {
  margin-top: 5px;
  height: 20px;
  width: 100%;
  text-align: center;
  color: var(--main-color-text);
}

#inventory-window-tabs {
  width: 20%;
  height: calc(100% - 30px);
  background-color: var(--main-color);
  float: left;
}
.inventory-window-tabs-item {
  width: calc(100% - 20px);
  height: 20px;
  margin-top: 10px;
  padding: 5px;
  padding-left: 10px;
  cursor: pointer;
  font-size: large;
  color: var(--main-buttons-text-color);
}

.inventory-window-tabs-item-selected {
  background-color: var(--secondary-color);
}

.inventory-window-tabs-item:hover {
  background-color: var(--main-color-hover);
}

.inventory-window-tabs-item-selected:hover {
  background-color: var(--secondary-color);
}

.inventory-window-tabs-item-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  float: left;
  fill: var(--main-buttons-text-color);
}

#inventory-window-body {
  width: 80%;
  height: calc(100% - 30px);
  background-color: var(--main-color);
  overflow-y: auto;
}

.inventory-window-body-grid {
  width: 100%;
}

.inventory-window-body-page-swap {
  display: flex;
  width: 100%;
  height: 40px;
}

.inventory-window-body-page-item {
  color: var(--main-buttons-background-color);
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 50px;
}

.inventory-window-body-page-item-current {
  background-color: var(--main-buttons-background-color-hover);
  color: var(--main-color-text);
}

.inventory-window-body-page-item-delete {
  fill: var(--main-buttons-text-color);
  background-color: var(--main-buttons-background-color);
  border-radius: 50px;
  padding: 5px;
  margin-left: 5px;
  margin-top: 5px;
  width: 15px;
  position: absolute;
  height: 15px;
  cursor: pointer;
  float: left;
}

.inventory-window-body-page-button-wrapper {
  width: 100%;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.inventory-window-body-page-item-button {
  background-color: var(--secondary-color);
  color: var(--secondary-color-text);
  cursor: pointer;
  text-align: center;
  height: 20px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 50px;
  float: left;
}

/* for Animations */

.inventory-window-animationPreview_itemWrapper {
  width: 200px;
  margin: 0 20px 40px 20px;
  float: left;
  overflow: hidden;
  height: 200px;
  cursor: pointer;
}

.inventory-window-animationPreview_objName {
  width: 100%;
  height: 20px;
  /* border-bottom: 1px solid black; */
  text-align: center;
  color: var(--secondary-color-text);
  background-color: var(--secondary-color);
  overflow: hidden;
}

.inventory-window-animationPreview_body {
  width: 100%;
  height: 180px;
  text-align: center;
  background-color: var(--canvas-default-bg-color);
}

.inventory-window-animationPreview_film {
  width: 100%;
  height: 100%;
}

/* for Objects */

.inventory-window-itemWrapper {
  position: relative;
  width: 200px;
  margin: 0 20px 40px 20px;
  float: left;
  overflow: hidden;
  height: 200px;
}

.inventory-window-objName {
  width: 100%;
  height: 20px;
  /* border-bottom: 1px solid black; */
  color: var(--secondary-color-text);
  text-align: center;
  background-color: var(--secondary-color);
  overflow: hidden;
}

.inventory-window-body {
  width: 100%;
  height: 180px;
  text-align: center;
  background-color: var(--canvas-default-bg-color);
}

#animationWorkshopCreateWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000080;
  z-index: 7;
}

#animationWorkshopCreate_popup {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-color: white;
}

#animationWorkshopCreate_popup_close_back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#animationWorkshopCreate_popup_toolbar {
  top: 0;
  width: 100%;
  line-height: 30px;
  background-color: var(--main-color);
  color: var(--main-color-text);
  text-align: center;
  font-size: large;
}

#animationWorkshopCreate_popup_close {
  padding-right: 8px;
  background-color: var(--main-color);
  color: var(--main-color-text);
  cursor: pointer;
  float: right;
  font-family: monospace;
}

#animationWorkshopCreate_popup_close:hover {
  text-decoration: underline;
}

#animationWorkshopCreate_popup_filmarea {
  position: absolute;
  left: 2%;
  top: 10%;
  width: 14%;
  height: 80%;
  border: 1px solid var(--main-color);
  overflow-y: auto;
  overflow-x: hidden;
}

.animationWorkshopCreate_popup_filmarea_box {
  background-color: lightgray;
  margin-bottom: 10px;
}

#animationWorkshopCreate_popup_mainarea {
  position: absolute;
  left: 17%;
  top: 10%;
  width: 60%;
  height: 80%;
  border: 1px solid var(--main-color);
}

#animationWorkshopCreate_popup_editarea {
  position: absolute;
  right: 2%;
  top: 10%;
  width: 20%;
  height: 80%;
  border: 1px solid var(--main-color);
}

#animationWorkshopCreate_popup_mainarea_canvas {
  width: 100%;
  height: 100%;
  background-color: var(--canvas-default-bg-color);
}

.animationWorkshopCreate_popup_editarea_button {
  cursor: pointer;
  text-align: center;
  padding: 5px;
  margin: 5px;
  background-color: var(--main-color);
  color: var(--main-color-text);
}

.animationWorkshopCreate_popup_editarea_button:hover {
  text-decoration: underline;
  background-color: var(--main-color-hover);
}

.animationWorkshopCreate_popup_editarea_wrap {
  padding: 10px;
  height: 20px;
}

.animationWorkshopCreate_popup_editarea_prompt {
  width: 48%;
  padding-top: 2px;
  font-size: 16px;
  float: left;
}

.animationWorkshopCreate_popup_editarea_value {
  padding: 0;
  width: 50%;
  right: 10px;
  height: 20px;
}

#animationWorkshopCreate_popup_editarea_delaySlider {
  -webkit-appearance: none;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

#animationWorkshopCreate_popup_editarea_delaySlider:hover {
  opacity: 1;
}

#animationWorkshopCreate_popup_editarea_delaySlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--main-color);
  cursor: pointer;
}

#animationWorkshopCreate_popup_editarea_delaySlider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: var(--main-color);
  cursor: pointer;
}
