h1 {
    text-align: center;
    color: azure;
    font-size: 400%; 
    line-height:200%;
}

h2 {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: aqua;
    padding-top: 10px;
}

h3 {
    text-align: center;
    color: black;
}

h4 {
    text-align: center;
}

h5 {
    text-decoration: underline;
    text-align: center;
    color: black;
}

h2:hover {
    color: red;
}