@import url("headers.css");
@import url("navbar.css");
@import url("pars.css");

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

header {
    top: 0;
    left: 0;
    background-image: url("../sources/headback.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10%;
    height: 100%; 
    width: 100%;
}


.floatright {
    float:right;
}

.moveright {
    margin-left: 8%;
}

footer {
    bottom: 0;
    left: 0;
    background-image: url("../sources/footback.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40%; 
    width:100%;
    float:left;
}

table#coursestable {
    text-align: center;
    margin: auto;
}

img#myself {
    border-radius: 50%;
    margin: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.link {
    float:left;
    width:25%;
    height:80%;
}

video#series {
    width: 90%;
    height: 20%;
}

@media screen and (max-width:660px){
    h1 {
        text-align: center;
        color: azure;
        font-size: 200%; 
        line-height:100%;
        padding-top:15%;
    }
    p#quote {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100%;
        font-style: italic;
        line-height:100%;
        text-align: center;
        color:white;
    }
    p#quoteperson {
        font-size: 100%;
        text-align-last: center;
        color: white;
    }
}

@media screen and (max-height:520px){
    footer {
        bottom: 0;
        left: 0;
        background-image: url("../sources/footback.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 80%; 
        width: 100%;
    }
}

@media screen and (max-height:420px){
    h1 {
        text-align: center;
        color: azure;
        font-size: 200%; 
        line-height:100%;
    }
    p#quote {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100%;
        font-style: italic;
        line-height:100%;
        text-align: center;
        color:white;
    }
    p#quoteperson {
        font-size: 100%;
        text-align-last: center;
        color: white;
    }
}