nav {
    overflow: hidden;
    position: fixed;
    background-color: black;
    z-index: 1;
    top: 0;
    width: 100%;
    padding-top:10px;
    padding-bottom: 10px;
}
nav a {
    color: white;
    text-align: center;
    text-decoration: none;   
}

nav li {
    float: left;
}
li a {
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
li a:hover {
    color: red;
}

ul#navmenu {
    list-style-type:none;
}

@media screen and (max-width:535px){
    li a {
        color: grey;
        text-align: center;
        padding: 5px;
        text-decoration: none;
    }
}
@media screen and (max-width:430px){
    li a {
        font-size: 70%;
        color: grey;
        text-align: center;
        padding: 5px;
        text-decoration: none;
    }
}