.centertext {
    text-align: center;
}

p#quote {
    padding-top:5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    font-style: italic;
    line-height:150%;
    text-align: center;
    color:white;
}
p#quoteperson {
    font-size: 150%;
    font-weight: bold;
    text-align-last: center;
    color: white;
}

.title {
    font-size: 150%;
}

p#copyright {
    float:left;
    font-size: 70%;
    bottom:0px;
}

p.colortext a{
    color:black;
}