body { 
	margin: 0; 
	background-image: url("./assets/textures/sky.jpeg");
    background-size: cover;
	overflow: hidden; 
}

canvas { 
	display: block; 
	overflow: hidden; 
}

#scene { 
	overflow: hidden; 
}

div { 
	user-select: none; 
}