#settings-window-background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #00000080;
  z-index: 4;
}

#settings-window {
  width: 80%;
  height: 80%;
  position: absolute;
  left: 10%;
  top: 10%;
  background-color: var(--main-color);
  z-index: 5;
}

.objectItem {
  color: var(--main-color-text);
}

#settings-window-settings-panel {
  width: 90%;
  height: 80vh;
  float: right;
  overflow: auto;
}

#settings-window-categories-list {
  float: left;
  width: calc(10% - 3px);
  height: 80vh;
  border-right: 3px solid var(--main-color-hover);
}

.settings-window-category-panel {
  font-size: x-large;
  width: calc(100% - 20px);
  padding: 10px;
  color: var(--main-color-text);
  text-decoration: underline;
  text-align: center;
}

.settings-window-category {
  font-size: large;
  width: calc(100% - 20px);
  padding: 10px;
  cursor: pointer;
  color: var(--main-color-text);
}

.settings-window-category:hover {
  font-size: large;
  width: calc(100% - 20px);
  padding: 10px;
  cursor: pointer;
  background-color: var(--main-color-hover);
}

.settings-window-category-splitter {
  width: 100%;
  height: 2px;
  margin-top: 10px;
  background-color: var(--main-color-text);
}

.settings-window-category-item-wrap {
  width: 80%;
  margin-left: 10%;
  border: 1px solid var(--main-color-text);
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  height: 50px;
  border-radius: 20px;
}

.settings-window-category-item-name {
  color: var(--main-color-text);
  width: 33%;
  font-size: large;
  line-height: 50px;
  float: left;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.settings-window-category-item-input {
  color: var(--main-color);
  width: 20%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  margin-top: 10px;
  height: 20px;
  border: 0;
  float: left;
  overflow: hidden;
  white-space: nowrap;
}

.settings-window-category-item-description {
  color: var(--main-color-text);
  text-align: center;
  height: 50px;
  overflow-y: auto;
  overflow: hidden;
  white-space: nowrap;
}
