#toolbar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 30px;
  background-color: var(--main-color);
  color: var(--main-text);
}

#toolbar-logo-img {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 3px;
  height: 24px;
  width: 24px;
  background-image: url("../../../assets/favicon.ico");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.toolbar_item {
  float: left;
  padding-top: 5px;
  padding-bottom: 7px;
  margin-left: 10px;
  color: var(--main-color-text);
  cursor: pointer;
}

.toolbar_item:hover {
  background-color: var(--main-color-hover);
}

.toolbar_dropdown {
  position: absolute;
  top: 30px;
  width: auto;
  height: auto;
  background-color: var(--main-color);
  color: var(--main-text);
  max-height: 500px;
  overflow-y: auto;
}

.toolbar_dropdown_button {
  float: left;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 10px;
  width: 10px;
  height: 10px;
  cursor: pointer;
  background-image: url(../../../assets/images/dropdown_toggle.png); /* dropdown_toggle.png from 'www.flaticon.com' from user Google */
  background-position: center;
  background-size: contain;
}

.toolbar_dropdown_button:hover {
  background-color: var(--main-color-hover);
}

.toolbar_dropdown_item {
  height: 20px;
  padding: 5px;
  color: var(--main-color-text);
  border-bottom: 1px solid black;
  cursor: pointer;
}

.toolbar_dropdown_item:hover {
  background-color: var(--main-color-hover);
}

.toolbar_overlay_back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000000ab;
  z-index: 3;
}

.toolbar_options_open {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 80%;
  height: 80vh;
  background-color: red;
  z-index: 4;
  font-size: xx-large;
  color: white;
  text-align: center;
}

#toolbar_search {
  border: 0;
  width: 150px;
}

#toolbar_search_result {
  position: absolute;
  width: 150px;
  max-height: 500px;
  overflow-y: auto;
}

.toolbar_item_right {
  float: right;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  fill: var(--main-color-text);
}

.toolbar_icon {
  width: 18px;
  height: 18px;
  fill: var(--main-color-text);
}

#toolbar-dummyButton {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
