#quickLinksTabWrapper {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

#quickLinksTabHeader {
	color: var(--main-color);
}

.quickLinksTabButton {
	width: max-content;
	padding: 10px;
	margin: 10px;
	background-color: var(--main-buttons-background-color);
	color: var(--main-color-text);
	cursor: pointer;
	margin-left: 2%;
}


.quickLinksTabButton:hover {
	background-color: var(--main-buttons-background-color-hover);
}