#collisionPreview_makeBig {
    position: absolute;
    left:0;
    bottom: 90px;
    height: 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: var(--main-buttons-background-color);
    color: var(--main-buttons-text-color);
    padding: 5px;
    transition: bottom 1s;
    z-index: 2;
}

#collisionPreview_makeBig:hover {
    background-color: var(--main-buttons-background-color-hover);
}

#collisionPreviewWrapper {
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    height: 0;
    background-color: var(--main-color);
    transition: height 1s;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 5;
}

.collisionPreview_itemWrapper {
    width: 200px;
    margin: 0 20px 40px 20px;
    float: left;
    overflow: hidden;
}

.collisionPreview_objName {
    width: 100%;
    height: 20px;
    /* border-bottom: 1px solid black; */
    text-align: center;
    color:var(--secondary-color-text);
    background-color: var(--secondary-color);
    overflow: hidden;
}

.collisionPreview_body {
    width: 100%;
    height: 180px;
    text-align: center;
    background-color: var(--canvas-default-bg-color);
}

.collisionPreview_film {
    width: 100%;
    height: 100%;
}

#collisionPreviewCreateWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000080;
    z-index: 7;
}

.collisionPreviewCreate_listWrapper {
    height: 40px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.collisionPreviewCreate_promptList {
    float: left;
    width: 45%;
    margin-top: 2%;
    margin-left: 3%;
}

.collisionPreviewCreate_list {
    width: 45%;
    margin-top: 2%;
    margin-right: 3%;
}

#collisionPreviewCreate_createCollision {
    width: 90%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5%;    
    cursor: pointer;    
    background-color: var(--main-color);
    color: var(--main-color-text);
}