#tutorial-wrap {
    position: absolute;
    left: 30%;
    bottom: 0;
    width: 40%;
    background-color: var(--main-color);
    color: var(--main-color-text);
    border-radius: 20px 20px 0 0;
    transition: max-height 2s ease;
}

#tutorial-title {
    font-size: x-large;
    text-align: center;
    border-bottom: 1px solid var(--main-color-text);
    padding: 5px;
}

#tutorial-description {
    padding: 5px;
    font-size: large;
    text-align: center;
}

#tutorial-buttons {
    display: flex;
    flex-flow: row-reverse;
}

.tutorial-button {
    color: var(--main-color);
    background-color: var(--main-color-text);
    width: fit-content;
    font-size: large;
    text-align: center;
    padding: 2px;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
}
