#mainInfoBox {
    position: absolute;
    width: auto;
    min-width: 220px;
    height: auto;
    max-height: 500px;
    right:0;
    top: 20%;
    background-color: var(--main-color);
    color: var(--main-text);
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

#objName {
    color: var(--main-color-text);
    font-size: 24px;
    text-align: center;
    margin: 10px;
}

#categName {
    color: var(--main-color-text);
    font-size: 20px;
    text-align: center;
}

#fieldsInfo {
    margin-left: 10px;
}

#eventsInfo {
    margin-left: 10px;
}

#attributeInfo {
    margin-left: 10px;
}

.InfoBox_thinLine {
    width: 100%;
    height: 2px;
    background-color: var(--main-color-text);
    margin: 10px 10px 10px 0;
    margin-top: 25px;
    color: var(--main-color-text);
}

.InfoBox_prompt {
    color: var(--main-color-text);
    font-size: 20px;
    padding-bottom: 2px;
}

.InfoBox_inputText {
    width: 85%;
    float: left;
    height: 13px;
}

.InfoBox_addButton {
    text-align: center;
    color: var(--main-buttons-text-color);
    float:left;
    width: 10%;
    cursor: pointer;
    background-color:var(--main-buttons-background-color);
    border-radius: 100px;
}

.InfoBox_addButton:hover {
    background-color: var(--main-buttons-background-color-hover);
}

.InfoBox_item {
    color: var(--main-color-text);
}