#timewarp-wrapper {
    position: absolute;
    display: flex;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 25px;
    background-color: var(--main-color);
}

#timewarp-record {
    background-color: red;
    width: 15px;
    height: 15px;
    margin: 5px;
    border-radius: 50px;
}

#timewarp-showRecords {
    width: 50%;
    float:right;
}

#timewarp-showBackward {
    background-color: var(--main-color);
    background-size: contain;
    background-image: url(../../../assets/images/dropdown_toggle.png);
    transform: rotate(90deg);
}

#timewarp-showForward {
    background-color: var(--main-color);
    background-size: contain;
    background-image: url(../../../assets/images/dropdown_toggle.png);
    transform: rotate(-90deg);
}


.timewarp-button {
    height: 25px;
    width: 25px;
    margin-right: 5px;
    margin-left: 5px;
    background-color: black;
    cursor: pointer;
}


.timewarp-text {
    height: 25px;
    line-height: 25px;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
    width: 100px;
    color: var(--main-color-text);
    cursor: pointer;
}