#focusedObjText {
    position: absolute;
    top: 20px;
    font-size: 24px;
    color: white;
    width: 50%;
    left: 25%;
    text-align: center;
}

#fpsCounter {
    position: absolute;
    color:white;
    top:0;
    right:20px;
}

#objMenuButton {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-image: url(../../../assets/images/settings.png); /* hide.png from 'www.flaticon.com' from user Freepik */
    background-position: center;
    background-size: contain;
}

#objMenu {
    position: absolute;
    top: 100px;
    right: 25px;
}

.objMenuButton {
    margin: 10px;
    color: white;
    font-size: 16px;
    background-color: black;
    text-align: center;
    height: 25px;
    border-radius: 10px;   
    cursor: pointer; 
}

#languageDiv {
    /* visibility: hidden; */
    position: absolute;
    width: 500px;
    height: 500px;
    top: 40px;
}

#eventsTab {
    /* visibility: hidden; */
    position: absolute;
    width: 500px;
    height: 20px;
    top: 20px;
    background-color: darkgray;
    overflow-x: hidden;
}

.eventTab {
    width: auto;
    height: 20px;
    /* margin-left: 5px;
    margin-right: 5px; */
    padding-left: 5px;
    padding-right: 5px;
    float: left;
    cursor: pointer;
    color:white;
    border-right: 2px solid darkgray;
    border-radius: 5px;
    background-color: gray;
}

#openTab {
    position: absolute;
    color:black;
    top: 40px;
    left: 107px;
    font-size: 20px;
    background-color: rgb(206, 206, 206);
    padding: 3px;
}

#playScriptButton {
    /* visibility: hidden; */
    position: absolute;
    width: 30px;
    height: 30px;
    top: 40px;
    left: 520px;
    background-image: url(../../../assets/images/play.png); /* play.png from 'www.flaticon.com' from user Pixel Perfect */
    background-position: center;
    background-size: contain;
}

#saveScriptButton {
    /* visibility: hidden; */
    position: absolute;
    width: 30px;
    height: 30px;
    top: 90px;
    left: 520px;
    background-image: url(../../../assets/images/save.png); /* save.png from 'www.flaticon.com' from user FreePik */
    background-position: center;
    background-size: contain;
}

#consoleArea {
    /* visibility: hidden; */
    position: absolute;
    width: 500px;
    height: 200px;
    top: 540px;
    font-size: 20px;
    color: white;
    background-color: rgba(255,255,255,0.1);
    border: 0;
    overflow: hidden;
    outline: none;
    resize: none;
}

#hudToggle {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    background-image: url(../../../assets/images/hide.png); /* hide.png from 'www.flaticon.com' from user Pixel Perfect */
    background-position: center;
    background-size: contain;
}

.hudChild {
    visibility: visible;
    opacity: 0.9;
    transition: visibility 0s, opacity 1s linear;
}

.button {
    cursor: pointer;
}