#objectFloatingInfo_box {
  position: absolute;
  background-color: transparent;
  color: var(--main-color-text);
  pointer-events: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 2px red dotted;
}

#objectFloatingInfo_info {
  position: absolute;
  color: var(--main-color-text);
  background-color: var(--main-color);
}
